:root{
    --text-color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --text-color-soft-red: hsl(14, 88%, 65%);
    --bg-color-soft-violet: hsl(273, 75%, 66%);
    --bg-color-soft-blue: hsl(240, 73%, 65%);
    --text-neutral-color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-neutral-color-dark-grayish-blue: hsl(240, 6%, 50%);
    --divider-color-light-grayish-blue: hsl(240, 5%, 91%);
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
.container{
    height: 100vh;
    background-image: linear-gradient(var(--bg-color-soft-violet),var(--bg-color-soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__card{
    position: relative;
    min-height: 55vh;
    min-width: 300px;
    margin: 0 50px;
    background: white;
    border-radius: 2rem;
    box-shadow: 0px 20px 46px -20px var(--text-color-very-dark-desaturated-blue);
}
img{
    max-width: 100%;
}
.card__pic{
    position: absolute;
    top: -19%;
    left: 5%;
    right: 12%;
}
.pic__box{
    display: none;
}
.pic__shadow{
    position: absolute;
    max-width: 75%;
    right: 12%;
    top: -23%;
}
.card__faq{
    position: absolute;
    width: 100%;
    top: 25%;
}
.card__faq h1{
    text-align: center;
}
.card__faq p{
    color: var(--text-neutral-color-dark-grayish-blue);
    font-weight: 700;
}

.faq__QNA{
    margin: 1rem 1.5rem;
    padding: 0 0 1rem 0;
    border-bottom: .1px solid var(--divider-color-light-grayish-blue);
}
.QNA__question{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-neutral-color-dark-grayish-blue);
    font-weight: 700;
}
.QNA__question:hover{
    color: var(--text-color-soft-red);
}
.faq__QNA:target .QNA__question{
    color: var(--text-neutral-color-very-dark-desaturated-blue);
}
.faq__QNA:target img{
    transform: scaleY(-1);
}
.faq__QNA:target .answer {
    display: block;
}
.answer{
    display: none;
    margin-top: .5em;
    margin-right: 3em;
}
.attribution{
    position: absolute;
    bottom: 1%;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 550px){
    .container__card{
        width: 110vmin;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url("/images/illustration-woman-online-desktop.svg"), url("/images/bg-pattern-desktop.svg");
        background-repeat: no-repeat no-repeat, no-repeat no-repeat;
        background-size: 50%, 85%;
        background-position: -16% 50%, -287% 50%;
    }
    .pic__shadow, .card__pic{
        display: none;
    }
    .pic__box{
        display: block;
        z-index: 99;
        width: 18%;
        position: absolute; 
        left: -8%;
        top: calc(38% + 5%);  
    }
    .card__faq{
        position: relative;
        width: 50%;
        margin-right: 5%;
    }
    .card__faq h1{
        text-align: start;
        margin-left: .8em;
        margin-bottom: 2.5rem;
        font-size: 2rem;
    }
}